/*

Visual Frameworks Project 2
Michael Kelsey
VFW 1201
*/


body {color: #3e2d1b; background: #849f98; font-family: Arial}
p {font-size: 20px}
img.floatleft {float: left}
form {background: #f1f58a}
legend {border: thin solid #352213; border-radius: 20px; background: #352213; color: #83adac; padding: 10px 40px; margin-left: 20px}
li {font-size: 15px}
input {color: #3e2d1b; background: #c0d6d5; font-weight: bold; border: 1px solid #352213; border-radius: 20px}


